root {
  font-size: 62.5%;
}

.container {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
.row {
  width: 100vw;
}

.notes {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10px 0 10px;
}

.side {
  padding: 0;
  margin: 0;
  height: 100%;
}
.Sidebar {
  display: flex;
  width: 100%;
  font-weight: lighter;
  height: 100vh;
  background: #eee;
  flex-direction: column;
  align-items: center;
}

.Sidebar .Add-note {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Sidebar p{
  display: block;
  text-align: center;
  height: 100px;
  width:100%;
  margin:0;
  padding: 20px 0px;
}

.Add-note a {
  margin-top: 20px;
}

.button {
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  margin: 5px 0 0 0;
  padding: 0;
}
.red {
  background-color: #da3535;
  color:#fff;
}


.blue {
  background-color: #4234ff;
  color:#fff;
}

.yellow {
  background-color: #fcff5b;
  color:rgb(29, 29, 29);
}

.green {
  background-color: #76ff53;
  color:rgb(39, 39, 39);
}
