.card {
    height: 13rem;
    border-radius: 10px;
    border: none;
    flex: 0 1 13rem; 
    margin: 20px 20px 0 20px;
}

.card .card-body .card-text{
    font-size: 1rem;
    text-align: flex-start;
    line-height: 1;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
}


.row01 {
    height: 90%;
    font-weight: 100;
    font-size: 14px;
}

.card-text{
    width: 100%;
    background-color: transparent;
    border: 0;
    resize: none;
    outline: 0;
}


.red {
    background-color: #da3535;
    color:#fff;
}


.blue {
    background-color: #4234ff;
    color:#fff;
}



.color02 {
    background-color: aquamarine;
    color:black;
}